body {
    
    font-family: sans-serif;
    background: white;
}
.container {
    width: 1440px;
    margin: 0 auto;
    background:#EEEFF1; 
}
.contact {
    width: max-content;
    margin: 0 auto;
    
}
.contact li {
    display: inline-block;
    margin-right: 42px;
    margin-top: 71px;
}
.contact li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
    

    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
h1 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 79px;
margin-left: 390px;
margin-top: 151px;
margin-right: 500px;

color: #000000;

}
p {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
margin-top: 60px;
margin-left: 391px;
margin-right: 590px;
color: #727272;
}
button {
    margin-left:370px ;
    margin-right: 600;
    margin-bottom: 141px;
    margin-top: 65px;
    padding: 20px 41px ;
    background: #34547A;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;

    cursor: pointer;
}
.title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
text-align: center;

color: #000000;

}
.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    color: #727272;
    

}
.Container-img {
    left: 0px;
top: 1059px;
margin-top: 100px;

background: #34547A;
}
.img {
    display: inline-block;
    width: 141px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 35px;
    margin-right: 35px;
    padding-left: 20px;

}
.title1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
text-align: center;
margin-top: 100px;

color: #000000;

}
.text1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
margin-top: 50px;
margin-left: 450px;
margin-right: 450px;

color: #727272;

}
.Container1 {

background: #34547A;
}

.author{
   
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
margin-left:  300px;
padding-top: 50px;

color: #FFFFFF;

}
.text2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    margin-left: 300px;
    padding-bottom:  50px;
    color: #FFFFFF;
}
.container-video{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 50.25%; 
  }
  
  .video{
    position: absolute;
    top: 57px;
    left: 60px;
    bottom: 100px;
    right: 0;
    width: 90%;
    height: 90%;
  }